<div class="p-6 flex flex-col gap-6 bg-blue-50 min-h-screen mt-8">
    <div class="flex flex-col md:flex-row gap-4 min-h-[400px] items-stretch">
        <div class="flex-1 flex h-full">
            <div class="bg-white rounded-xl shadow p-4 w-full flex flex-col h-full">
                <app-formulario-colaborador class="flex-1"></app-formulario-colaborador>
            </div>
        </div>
        <div class="flex-1 flex h-full">
            <div class="bg-white rounded-xl shadow p-4 w-full flex flex-col h-full">
                <app-calendario class="flex-1"></app-calendario>
            </div>
        </div>
    </div>
    <div>
        <div class="bg-white rounded-xl shadow p-4">
            <app-tabla-colaboradores></app-tabla-colaboradores>
        </div>
    </div>
</div>