<div *ngIf="esVistaCompleta; else vistaHome" class="flex gap-8 bg-white rounded-2x1 shadow-md p-6 min-h-[600px]">
    <form class="w-1/3 flex flex-col gap-4 bg-gray-50 p-4 rounded shadow" (ngSubmit)="agregarEvento()">
        <h3 class="text-lg font-semibold mb-2">Agregar Evento</h3>
        <label class="block">
            Título:
            <input type="text" [(ngModel)]="nuevoEvento.titulo" name="titulo" required
                class="border rounded p-2 w-full" />
        </label>
        <label class="block">
            Fecha inicial:
            <input type="date" [(ngModel)]="nuevoEvento.fechaInicio" name="fechaInicio" required
                class="border rounded p-2 w-full" />
        </label>
        <label class="block">
            Fecha final:
            <input type="date" [(ngModel)]="nuevoEvento.fechaFin" name="fechaFin" required
                class="border rounded p-2 w-full" />
        </label>
        <label class="block">
            Participantes:
            <input type="text" [(ngModel)]="nuevoEvento.participantes" name="participantes" required
                class="border rounded p-2 w-full" />
        </label>
        <button type="submit" class="bg-blue-600 text-white px-4 py-2 rounded hover:bg-blue-700">Agregar</button>
    </form>
    <div class="flex-1">
        <full-calendar [options]="calendarOptions"></full-calendar>
    </div>
</div>

<ng-template #vistaHome>
    <a [routerLink]="['/calendario']" class="block no-underline">
        <div class="bg-white rounded-2x1 shadow-md p-6">
            <h2 class="text-xl font-semibold mb-4 font-semibold block">
                Calendario de Onboarding
            </h2>
            <full-calendar [options]="calendarOptions"></full-calendar>
        </div>
    </a>
</ng-template>